#JT-info {
    display: flex;
    flex: 0 1;
    max-width: 1000px;
    justify-content: center;
    margin: 40px auto;
}

#JT-image {
    width: 100%;
    height: auto;
    align-self: flex-start;
    justify-self: center;
}

#JT-image-container {
    display: flex;
    flex: 0 0 300px;
    margin: 1.5rem;
    height: 0%;
}

#JT-about-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 700px;
    margin: 1.5rem;
    justify-content: center;
    justify-content: flex-start;
}

#JT-about-container p {
    font-size: 1.2rem;
}

#best-projects {
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
}

#best-projects-title {
    align-self: flex-start;
}

#best-project-names {
    flex: 0 1 300px;
    border-right: #060606 solid 1px;
}

#best-project-names ul {
    margin: 20px 0;
    list-style-type: none;
}

#best-project-names a {
    text-decoration: underline #060606 solid 1px;
    font-size: 1.3rem;
    color: #060606;
}

#best-project-names a:hover {
    text-decoration: underline #fba92c solid 1px;
    color: #fba92c;
}

#best-project-names a:active {
    text-decoration: underline #565656 solid 1px;
    color: #565656;
}

#best-project-display {
    display: flex;
    max-width: 700px;
}

#best-project-display-left{
    display: flex;
    flex-direction: column;
    flex: 0 1 400px;
    margin: 0 1rem;
}

#best-project-img-container {
    display: flex;
    flex: 0 1;
    margin: 5px 0;
}

#best-project-display-img {
    width: 100%;
    height: auto;
    align-self: flex-start;
    justify-self: center;
}

#best-project-display-right {
    display: flex;
    flex: 0 1 300px;
    padding-top: 20px;
}

#skills {
    display: flex;
    max-width: 1000px;
    margin: 40px auto;
    flex-direction: column;
}

#skills-title {
    align-self: flex-start;
    margin: 0 1.5rem;
}

#skills-container {
    margin: 10px 1.5rem;
    display: flex;
    width: 100%;
    flex: 0 1 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
}

.fa-brands:hover {
    color: #fba92c;
    font-size: 2.5rem;
}

.fa-brands {
    color: #060606;
    font-size: 2rem;
    padding: 0 10px;
    width: 80px;
    text-align: center;
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

@media screen and (max-width: 880px) {
    #JT-info {
        flex-direction: column;
        align-items: center;
    }

    #JT-image-container {
        max-width: 300px;
        min-width: 120px;
        flex: 0 1 100px;
        margin: 1rem;
    }

    #JT-about-container {
        flex: 0 1;
    }
}

@media (hover: none) {
    #skills-title::after {
        content: " - Click to find out more!";
        color: #fba92c;
        font-size: 0.5em;
    }

    .fa-brands:hover {
        color: #060606;
        font-size: 2rem;
    }
}